body {
  font-family: "Raleway", sans-serif;
  background-image: url('./assets/sprint-image_kly9gp.jpg');
  background-color: #555;
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

